NET   sysclk_p  LOC="L19";
NET   sysclk_n  LOC="K19";
NET   cpu_reset LOC="E9";
NET   leds[0]   LOC="H18";
NET   leds[1]   LOC="L18";
NET   leds[2]   LOC="G15";
NET   leds[3]   LOC="AD26";
NET   leds[4]   LOC="G16";
NET   leds[5]   LOC="AD25";
NET   leds[6]   LOC="AD24";
NET   leds[7]   LOC="AE24";
NET   led_north LOC="AG12";
NET   led_east  LOC="AG23";
#Created by Constraints Editor (xc5vlx110t-ff1136-1) - 2015/04/20
NET "sysclk_p" TNM_NET = sysclk_p;
TIMESPEC TS_sysclk_p = PERIOD "sysclk_p" 200 MHz HIGH 50%;
